@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200&family=Roboto:wght@100&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #abcbf1;
  font-family: "Mulish";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

h3 {
  color: rgb(80, 79, 79);
  margin: 10px 0 20px;
  text-align: center;
}

textarea {
  border: none;
  display: block;
  width: 100%;
  height: 100px;
  font-family: inherit;
  padding: 10px;
  margin: 0 0 20px;
}
.container {
  width: 500px;
}

.tag {
  background-color: #f0932b;
  color: rgb(239, 237, 237);
  border-radius: 50px;
  padding: 10px 20px;
  margin: 0 5px 10px 0;
  font-size: 14px;
  display: inline-block;
}

.tag.highlight {
  background-color: #273c75;
}
